*{
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
header{
  text-align: center;
  padding: 1%;
  background-color: #393F3E;
  color: #48C9B0;
  border-radius: 5px;
}
.principal{
  margin-left: 20%;
  margin-right: 20%;
}
.contenedor{
  display: inline-flex;
  flex-wrap: wrap;
}
img{
  margin: 1%;
  width: 250px;
  height: 220px;
  border-radius: 20px;
}
article{
  margin-top: 10px;
  text-align: center;
}

.sepia{
  -webkit-filter: sepia(1);
  -o-filter: sepia(1);
  filter: sepia(1);
}
.invertir-color{
  -webkit-filter: invert(.8);
  -o-filter: invert(.8);
  filter: invert(.8);
}
.blanco-negro{
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
